Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps
.dirstamp
*.o
stamp-*

# glib resources
budgie-greeter-resources.c
budgie-greeter-resources.h

# Actual binary itself
lightdm-budgie-greeter
